html,
body {
	height: 100%;
	@extend %font-main;
}

.wrapper {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.page {
	flex: 1 0 auto;
	padding-bottom: 20px;
	width: 100%;
}
.sidebar {
	flex: 1 1 450px;
	background: $white;
	padding: 30px 60px;
	height: 100%;
	@media screen and (max-width: 1023px) {
		padding: 30px 10px;
		//flex: 1 1
	}
	@media screen and (max-width: 768px) {
		display: none;
	}
}

.main {
	margin-bottom: 40px;
	overflow: hidden;
}
.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	@media screen and (max-width: 1439px) {
		padding: 0 20px;
	}
}

.d-flex {
	display: flex;
}
.d-flex-column {
	flex-direction: column;
}

.main-title {
	font-size: 2.8rem;
	line-height: 140%;
	margin-bottom: 35px;
}
.secondary {
	color: $secondary;
}

.icon-round {
	display: flex;
	height: 64px;
	width: 64px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	flex: 0 0 64px;
}
