//Buttons
.btn-arrow {
  &:after {
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    //transform: rotate(-43.51deg);
    background: url(../images/next.png) center/cover no-repeat;
  }
}

.btn-primary {
  @extend %btn-primary;
}

.btn-secondary {
  @extend %btn-secondary;
}

.btn-transparent {
  @extend %btn-transparent;
}
.btn-big {
  padding: 0;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
  width: 270px;
}

//Mobile navigation
.left-toolbar-trigger {
  height: 24px;
  width: 24px;
  border: none;
  background: none;
  cursor: pointer;
  line-height: 4px;
  padding: 0;
  margin-top: -10px;
  .line {
    display: inline-block;
    width: 24px;
    height: 2.92px;
    background: $white;
  }
}

.left-toolbar {
  position: relative;
  background: $white;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 40px 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: 0.2s ease transform;
  transform: translate(-370px, 0);
  width: 370px;
  z-index: 1060;
}
.left-toolbar.active {
  transform: translate(0, 0);
  z-index: 1020;
}
.left-toolbar__close {
  background: none;
  border: none;
  cursor: pointer;
  color: $dark;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 40px;
  font-weight: 200;
}
.toolbar-opened .left-toolbar-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
}
// Mobile menu
.mobile-nav {
  .main-nav__list {
    flex-direction: column;
    position: relative;
    .main-nav__item {
      flex-direction: column;
      align-items: flex-start;
      margin-right: 0;
      margin-bottom: 25px;
      margin-bottom: 20px;
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;
        color: $dark;
        text-transform: uppercase;
      }
      > a {
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
      }
      &:hover {
        > a {
          color: $primary;
        }
      }
    }
    & > .main-nav__item.toggled {
      & > .dropdown-block {
        opacity: 1;
        height: 100%;
        visibility: visible;
      }
    }
  }
}

/*---------- Form controls ----------*/
.form {
  .error {
    display: none;
    color: red;
  }
}
.form-row {
  margin-bottom: 1.5rem;
  min-width: 300px;
  display: flex;
  gap: 20px;
  @media screen and (max-width: 640px) {
    display: flex;
    flex-direction: column;
  }
}
.form-col {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-control {
  padding: 28px 16px;
  line-height: 150%;
  color: $dark-grey;
  border: 1px $light-grey2 solid;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:focus,
  &:focus-visible {
    color: $dark;
    background-color: $white;
    border-color: $primary;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    outline: none;
  }
}
.form-label {
  line-height: 150%;
}
/*-------- Modal ----------*/
.modal {
  &__title {
    font-size: 1.5rem;
    color: $primary;
    text-align: center;
    margin: 2rem 0;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input {
      display: block;
      width: 100%;
      height: calc(2.5rem + 2px);
      padding: 0.375rem 0.75rem;
      font-family: inherit;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: $dark;
      background-color: $white;
      background-clip: padding-box;
      border: 1px solid $light-grey;
      border-radius: 0.25rem;
    }
  }
}

/*---- Title style ---------*/
.title-line {
  font-weight: 700;
  font-size: 40px;
  line-height: 88px;
  color: #000000;
  padding-left: 30px;
  position: relative;

  &:after {
    content: "";
    width: 100px;
    height: 0;
    border: 2px solid $secondary;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
